* {
  margin: 0px;
  padding: 0px;
  box-sizing: padding-box;
  font-family: sans-serif;
  font-size: 15px;

}

.plegable {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.plegable p {
  font-weight: bold;
  text-shadow: 1px 1px #9a98ab;
}

.plegable a {
  position: absolute;
  top: 15px;
  right: 50px;
}

.plegable img {
  width: 16px;
  background: palevioletred;
  border-radius: 53px;
}

.active,
.plegable:hover {
  background-color: #ffffff30;
}

.hide {
  visibility: hidden
}

.show {
  visibility: visible
}