*{ 
  margin:0px; 
  padding:0px;
  box-sizing: padding-box;
  font-family: sans-serif;
  font-size: 15px;

}

.plegable {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    cursor: pointer;
    position: relative;
    text-align: center;
  }

  .plegable p {
    font-weight: bold;
    text-shadow: 1px 1px #9a98ab;
  }

  .plegable a {
    position: absolute;
    top: 15px;
    right: 50px;
  }

  .plegable img {
    width: 16px;
    background: palevioletred;
    border-radius: 53px;
  }

  
  .active, .plegable:hover {
    background-color: #ffffff30;
  }
  
  

  .formulario {
    padding: 0 18px;
  
    
    background-color: aqua;
  }

  .hide {
    visibility:hidden
  }

  .show {
    visibility:visible
  }

  .section-agregar-tarea {
    background: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: initial;
  }

  .section-agregar-tarea input{
    border: 2px solid #fc01ff;
    padding: 10px;
  }

  .section-agregar-tarea button{
    width: 90px;
    padding: 8px;
    background: #cd97d369;
    border-radius: 48px;
    border: 2px solid #fc01ff;
    color: white;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .section-agregar-tarea button:hover{
    background-color: #ffffff30;
  }

  .section-agregar-tarea .label-checkbox{
    margin-top: 15px;
  }

