.section-agregar-tarea {
  background: black;
  padding: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: initial;
}

.section-agregar-tarea input {
  border: 2px solid #fc01ff;
  padding: 10px;
}

.section-agregar-tarea button {
  width: 90px;
  padding: 8px;
  background: #cd97d369;
  border-radius: 48px;
  border: 2px solid #fc01ff;
  color: white;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 30px;
}

.section-agregar-tarea button:hover {
  background-color: #ffffff30;
}

.section-agregar-tarea .label-checkbox {
  margin-top: 15px;
}